/*Apenas um teste */

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cima {
    height: calc(100%/3);
    width: 100%;
    padding: 20px;
}

.linha-cima{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 30px;
    padding: 0;
}

.esquerda-cima {
    background-color: white;
    box-shadow: 0 0 10px #00000023;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    gap: 40px;
    flex-direction: row;
    width: 70%;
    border-radius: 20px;
    color: #ff4646;
}

.views, .seguidores, .posts {
    background: linear-gradient(to right, #ff4646e8, #a82d2de8);
    width: calc(80%/3);
    height: calc(80%);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 15px;
    /* box-shadow: 0 5px 10px #00000023; */
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.411);
}

.direita-cima {
    background: linear-gradient(to right, #ff4646, #a82d2d);
    color: white;
    width: calc(30%);
    height: calc(70%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.13);
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-perfil img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.estrela {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 75px;
    top: 290px;
}
/* FIM DA PARTE DE CIMA */
/* ======================================================================================================================= */
/* INICIO DA PARTE DO MEIO  */

.meio {
    height: calc(100%/2);
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.13);
    align-items: end;
    padding: 10px;
}

.esquerda-rank {
    height: 200px;
    width: calc(100%/3);
    background-color: #ff4646;
    display: flex;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.esquerda-rank svg {
    width: 110px;
    height: auto;
    filter: drop-shadow(0 0 20px silver);
}

.meio-rank {
    height: 250px;
    width: calc(100%/3);
    background-color: #ff4646;
    display: flex;
    justify-content: center;
    border-left: 2px solid #a72e2e;
    border-right: 2px solid #a72e2e;
    border-top: 2px solid #a72e2e;
    border-radius: 25px 25px 0 0 ;
}

.meio-rank svg {
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 20px gold);
}

.direita-rank {
    height: 150px;
    width: calc(100%/3);
    background-color: #ff4646;
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    
}

.direita-rank svg {
    width: 90px;
    height: auto;
    filter: drop-shadow(0 0 20px rgb(170, 117, 19));
}
/* FIM DA PARTE DO MEIO */
/* ======================================================================================================================= */
/* INICIO DA PARTE DE BAIXO  */
/* FIM DA PARTE DE BAIXO */


