.bloco {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.esquerda {
    width: calc(100%/3);
    height: 500px;
}

/* isso n é adequado de se fazer */
.content {
    position: absolute;
    top: 0;
}
/* acaba aqui */

.cima-baixo-esquerda {
    display: flex;
    justify-content: end;
    height: calc(100%/3);
    justify-content: center;
    align-items: center;
}

.centro-esquerda {
    display: flex;
    justify-content: end;
    height: calc(100%/3);
    margin-right: 130px;
    justify-content: center;
    align-items: center;
}

.bloco .center {
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}

.direita {
    width: calc(100%/3);
    height: 500px;
}

.cima-baixo-direita {
    display: flex;
    justify-content: start;
    height: calc(100%/3);
    justify-content: center;
    align-items: center;
}

.centro-direita {
    justify-content: start;
    display: flex;
    height: calc(100%/3);
    margin-left: 130px;
    justify-content: center;
    align-items: center;
}

.imagem {
    width: 300px;
    height: 300px;
    border: none;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.imagem img{
    width: 100%;
    height: auto;
    transition: linear .3s ;
}

.imagem img:hover{
    transform: scale(105%);
    transition:linear .3s;
}

.bio {
    width: 65%;
    height: calc(96vh/2);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 20px;
}

.postForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.esquerda-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita-form button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #ff4646;
    color: white;
    box-shadow: 0 5px 0 #a82d2d;
    transition: all .3s ease;
}

.direita-form button:active {
    box-shadow: none;
    transform: translateY(5px);
    transition: all .3s ease;
}

.input {
    background-color: #eeffff;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 40%;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: calc(100%);
    position: absolute;
    top: 0px;
}

input[type='file']{
    display: none;
}


.select-img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4646;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-align: center;
  }

  .content main {
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
  }






#picture__input {
  display: none;
}

.picture {
  border-radius: 100%;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: .4s ease-in-out;
  font-weight: 700;
  position: relative;
}

.picture__img { 
  width: 100%;
}

.picture__image img {
  border-radius: 100%;
  width: 300px;
    height: 300px;
}

/* MODAL */