body{
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url('../Imagens/landingpage.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.menu{
	overflow: hidden;
}

.logo img{
	margin-top: -90px;
	margin-left: -180px;
}

.menulogo, .btn_cadasLogin{
	display: flex;
	justify-content: space-between;
}

.btn_cadasLogin{
	margin: 100px 100px;
}

.logo{
	margin-left: 35px;
}

.imgfundo{
	width: 100%;
	height: auto;
}

.cadastro{
	background: #ff4646;
	color: white;
	border-radius: 10px;
	border: none;
	width: 250px;
	height: 62px;
	font-weight: bold;
	font-size: 35px;
	margin-right: 30px;
	box-shadow: 0 5px 0 #a82d2d;
	transition: .2s ease-in;
}

.cadastro:hover{
	transform: scale(95%);
	box-shadow: none;
}

.login{
	background: #eee;
	color: black;
	border-radius: 10px;
	border: none;
	width: 250px;
	height: 62px;
	font-weight: bold;
	font-size: 35px;
	/* box-shadow: 20px 20px 50px -3px rgba(0, 0, 0, 0.555); */
	box-shadow: 0 5px 0 #999;
	transition: .2s ease-in;
}

.login:hover{
	transform: scale(95%);
	box-shadow: none;
}


#corpo{
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.bemVindo{
	width: 500px;
	height: 400px;
	text-align: right;
	font-weight: bold;
	font-size: 80px;
	color: white;
	font-family: 'Archivo Narrow';
	margin: 100px 100px 0 0;
}

.sobre{
	width: 280px;
	height: 81px;
	background: #FF4646; 
	color: white;
	font-weight: bold;
	font-size: 38px;
	border-radius: 10px;
	border: none;
	margin-right: 100px;
	box-shadow: 0 5px 0 #a82d2d;
	transition: .2s ease-in;
}

.sobre:hover{
	transform: scale(95%);
	box-shadow: none;
}

/* MODAL A PARTIR DAQUI */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: transparent;
}

.modal-content {
	background-color: #1212127a;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	border-radius: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-content h2{
	color: #FF4646;
}

.modal-content p{
	color: white;
	font-weight: bold;
}

.close {
	height: 40px;
	width: 40px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close:hover,
.close:focus {
	color: #FF4646;
	text-decoration: none;
	cursor: pointer;
	background-color: #1212127a;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* transition: all .3s ease; */
	
}

