<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!--Link do font awesome, para icones-->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Crie sua conta | ConVes</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/auth/registrarProfessor" method="POST">
                <h1>Cadastro</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-microsoft"></i></a> <!-- COLOCAR HREF COM  A API DA MICROSOFT -->
                </div> 
                <span><b>PROFESSOR</b></span>
                <input type="text" placeholder="Nome" pattern="^[a-zA-Z ]+$" name="profNome" required> <!-- VALIDAR OS INPUTS PARA AMANHÃ-->
                <input type="text" placeholder="Matrícula" name="profMatricula">
                <input type="" placeholder="Cpf" name="profCpf"> <!-- COLOCAR O TYPE QUE SE ENCAIXA COM CPF, E VALIDAR-->
                <input type="email" placeholder="Email" name="profEmail">
                <input type="password" placeholder="Senha" minlength="8" maxlength="12" name="profSenha" required>
                <!-- <input type="password" placeholder="Confirmar senha"> COLOCAR NA PRÓXIMA BANCA -->
                <button type="submit">Criar conta</button>
                <!--TENTAR COLOCAR UM BOTÃO DE VOLTAR-->
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/auth/registrarAluno" method="POST"> 
                <h1>Cadastro</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-microsoft"></i></a> <!-- COLOCAR HREF COM A API DA MICROSOFT-->
                </div> 
                <span><b>ALUNO</b></span>
                <input type="text" placeholder="Nome" pattern="^[a-zA-Z ]+$" name="alunoNome" required>
                <input type="date" placeholder="Data de nascimento" name="alunoData">
                <!-- <input type="text" placeholder="Rm"> -->
                <input type="email" placeholder="Email" name="alunoEmail">
                <input type="password" placeholder="Senha" minlength="8" maxlength="12" name="alunoSenha" required>
                <!-- <input type="password" placeholder="Confirmar senha"> -->
                
                <!-- <a href="loginpage.html">Já tem uma conta?</a> COLOCAR HREF DO BOTAO CRIAR CONTA DA LADING PAGE -->
                <button type="submit">Criar conta</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Seja bem-vindo!</h1>
                    <p>Entre como aluno no botão a seguir.</p>
                    <button class="hidden" id="login">Criar como aluno</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, amigo!</h1>
                    <p>Seja bem-vindo à ConVes, entre como professor no botão abaixo.</p>
                    <button class="hidden" id="register">Criar como professor</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/loginpage.js"></script> <!-- COLOCAR NOVO SCRIPT PARA CADASTRO -->
</body>

</html>
