<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css"> <!-- arrumei o link, o ctrl click não levava pra lugar nenhum -->
    <title>Homepage | ConVes</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="Imagens/barco-ConVes-preto.png" alt="logo ConVes" width="60px" id="conves">
            <!-- retirar o fundo da imagem, deixar apenas o barquinho -->
            <div class="logo-name"><span>Con</span>Ves</div>
        </a>
        <ul class="side-menu">
            <!-- Inicio do Menu-->
            <li class="active"><a href="#"><i class='bx bx-home'></i>Home</a></li>
            <!-- criar as proximas pages e colocar os href aqui-->
            <li><a href="#"><i class='bx bxs-dashboard'></i>Postagens</a></li>
            <!-- a class active é da pagina ativada, nesse caso a home-->
            <li><a href="#"><i class="fa-solid fa-chalkboard-user" id="professores"></i>
                    <p class="professores">Professores</p>
                </a></li> <!--COLOCAR O LINK DO FONT AWESOME-->
            <li><a href="#"><i class='bx bx-info-circle'></i>Sobre</a></li>
            <li><a href="#"><i class='bx bx-user'></i>Perfil</a></li>
            <li><a href="#"><i class="bx bx-slider-alt"></i>Configurações</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <form action="/auth/logout" method="GET">
                    <button type="submit" class="logout"> <!-- botao de logout-->
                        <i class='bx bx-log-out'></i>Sair</button>
                </form>
            </li>
        </ul>
        <!-- Fim do Menu-->
    </div>
    <!-- Fim da Sidebar -->

    <!-- Main -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Pesquisar..."> <!-- Barra de pesquisa-->
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden> <!-- Botão de mudar o tema-->
            <label for="theme-toggle" class="theme-toggle"></label>
            <!-- <a href="#" class="notif"> COLOCAR HREF DA PAGE DE NOTIFICAÇÕES (É uma boa criar uma página pra isso, mas depois)
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a> -->
            <a href="#" class="profile"> <!-- href da page de usuario -->
                <img src="/Imagens/pug-fofo.jpg">
                <!-- aprender o metodo para puxar a imagem do usuario, por enquanto usamos essa mesmo para representar -->
            </a>
        </nav>

        <!-- Fim da Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Seja bem-vindo!</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Postagens mais
                            </a>
                        </li>
                        <li>
                            <a href="#" class="active">Populares</a><!-- href page postagens-->
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Postagens -->



            <ul class="insights">
                {{#each postagens}}
                <li>
                    <div class="postagem">
                        <!-- Conteúdo da postagem -->
                        <h2>{{nm_tituloPostagem}}</h2>
                        <p>{{ds_conteudoPost}}</p>
                        <img src="{{img_capaPost}}" alt="Imagem da postagem"></img>
                        <!-- Aqui você pode adicionar mais campos da postagem, como imagem, data, etc. -->
                    </div>
                </li>
                {{/each}}

                <li>
                    <i class='bx bx-slideshow'></i>
                    <!-- cada post leva a um local diferente, form do professor com as atividades e videoaulas-->
                    <span class="info">
                        <h3>
                            Post 1
                        </h3>
                        <p>Danilo</p>
                    </span>
                </li>
                <li><i class='bx bx-slideshow'></i>
                    <!-- cada post leva pra um form de professor, colocar depois os href e as rotas -->
                    <span class="info">
                        <h3>
                            Post 2 <!-- fazer com que quando usuario clique no post, vá para o form do professor -->
                        </h3>
                        <p>José</p>
                    </span>
                </li>
                <li><i class='bx bx-slideshow'></i> <!-- cada post leva o usuario para um form de cada professor -->
                    <span class="info">
                        <h3>
                            Post 3
                        </h3>
                        <p>Miguel</p>
                    </span>
                </li>
                <li><i class='bx bx-slideshow'></i>
                    <span class="info">
                        <h3>
                            Post 4
                        </h3>
                        <p>Letycia</p>
                    </span>
                </li>
            </ul>
            <!-- Fim das postagens -->


            <!-- outro header, agora para os professores -->
            <div class="header">
                <div class="left">
                    <h1>Professores</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Com melhores
                            </a>
                        </li>
                        <li>
                            <a href="#" class="active">Avaliações</a><!-- href page dos professores-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Professores -->

            <ul class="insights-prof">
                <li>
                    <i class='bx bx-user'></i>
                    <span class="info">
                        <h3>
                            Prof 1
                        </h3>
                        <p>Danilo</p>
                    </span>
                </li>
                <li><i class='bx bx-user'></i>
                    <span class="info">
                        <h3>
                            Prof 2
                        </h3>
                        <p>José</p>
                    </span>
                </li>
                <li><i class='bx bx-user'></i>
                    <span class="info">
                        <h3>
                            Prof 3
                        </h3>
                        <p>Miguel</p>
                    </span>
                </li>
                <li><i class='bx bx-user'></i>
                    <span class="info">
                        <h3>
                            Prof 4
                        </h3>
                        <p>Letycia</p>
                    </span>
                </li>
            </ul>
            <!-- Fim de Professores -->
        </main>

    </div>

    <script src="/js/home.js"></script>
    
    <!-- Arrumar a rota do script, para o home.js-->
</body>

</html>