<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ConVes</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap" />

</head>
<body>
	<div class="menu">
		<div class="menulogo">
			<div class="logo">
				<img src="/Imagens/ConVes-branco.png" alt="Logo ConVes" width=600> 
			</div>
			<div class="btn_cadasLogin">
				<div id="cadastro">
					<a href="/registrar"><button type="submit" class="cadastro">Criar conta</button></a><!--COLOCAR HREF DA PAGE DE CRIAR CONTA PROFESSOR E ALUNO -->
				</div>
				<div id="login">
					<a href="/login"><button class="login">login</button></a>
				</div>
			</div>
		</div>
	</div>
	<main>
		<div id="corpo">
			<div class="bemVindo">
				SEJA<br>
BEM-VINDO<br>
À CONVES!
			</div>
			<!-- Botão sobre é pressionado para aparecer o modal -->
				<button class="sobre" id="sobre">Sobre</button>

				<!-- O modal -->
				<div id="myModal" class="modal">
					<div class="modal-content">
						<span class="close">&times;</span>
						<h2>ConVes</h2>
						<p>A plataforma tem como objetivo, auxiliar o desenvolvimento dos estudantes em relação aos atuais vestibulares brasileiros. Por meio de postagens dos profissionais presentes no site </p>
					</div>
				</div>
			
				<script>
					// Obtém o modal
					const modal = document.getElementById("myModal");
			
					// Obtém o botão que abre o modal
					const btn = document.getElementById("sobre");
			
					// Obtém o elemento <span> que fecha o modal
					const span = document.getElementsByClassName("close")[0];
			
					// Quando o usuário clica no botão, abre o modal
					btn.onclick = function () {
						modal.style.display = "block";
					};
			
					// Quando o usuário clica no <span> (x), fecha o modal
					span.onclick = function () {
						modal.style.display = "none";
					};
			
					// Quando o usuário clica em qualquer lugar fora do modal, fecha-o
					window.onclick = function (event) {
						if (event.target === modal) {
							modal.style.display = "none";
						}
					};
				</script>			
		</div>
	</main>
</body>
</html>