<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!--Link do font awesome, para icones-->
    <link rel="stylesheet" href="/css/loginpage.css">
    <title>Login page | ConVes</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/auth/logarProfessor" method="POST">
                <h1>Login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-microsoft"></i></a> <!-- COLOCAR HREF COM  A API DA MICROSOFT -->
                </div> 
                <span><b>PROFESSOR</b></span>
                <input type="email" placeholder="Email" name="profEmail" required>
                <input type="password" placeholder="Senha" minlength="8" maxlength="12" name="profSenha" required>
                <button type="submit" class="botao">Entrar</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/auth/logarAluno" method="POST"> <!-- COLOCAR O ACTION DE LOGAR PELO AMOR DE DEUSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->
                <h1>Login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-microsoft"></i></a> <!-- COLOCAR HREF COM A API DA MICROSOFT-->
                </div> 
                <span><b>ALUNO</b></span>
                <input type="email" placeholder="Email" name="alunoEmail" required>
                <input type="password" placeholder="Senha" minlength="8" maxlength="12" name="alunoSenha" required>
                <a href="/registrar">Não tem uma conta?</a> <!--COLOCAR HREF DO BOTAO CRIAR CONTA DA LADING PAGE -->
                <button type="submit" class="botao">Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Seja bem-vindo!</h1>
                    <p>Entre como aluno no botão a seguir.</p>
                    <button class="hidden" id="login">Entrar como aluno</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, amigo!</h1>
                    <p>Seja bem-vindo à ConVes, entre como professor no botão abaixo.</p>
                    <button class="hidden" id="register">Entrar como professor</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/loginpage.js"></script>
</body>

</html>