<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/perfil.css"> <!-- arrumei o link, o ctrl click não levava pra lugar nenhum -->
    <link rel="shortcut icon" href="/logo.png"> <!-- fodase a imagem tambem, fiquei uns 20 minutos e nao consegui colocar, FODASE  -->
    <link rel="stylesheet" href="/css/home.css">
    <title>Perfil | ConVes</title>
</head>

<body>
    {{#if erro}}
        <script>
            window.alert("{{erro}}");
        </script>
    {{/if}}

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="/Imagens/barco-ConVes-preto.png" class="logo-conves" alt="logo ConVes" width="60px" id="conves">
            <div class="logo-name"><span>Con</span>Ves</div>
        </a>
        <ul class="side-menu">
            <!-- Inicio do Menu-->
            <li><a href="#"><i class='bx bx-home'></i>Home</a></li>
            <li><a href="/home/postagens"><i class='bx bxs-dashboard'></i>Postagens</a></li>
            <!-- a class active é da pagina ativada, nesse caso a page de perfil -->
            <li><a href="#"><i class="fa-solid fa-chalkboard-user" id="professores"></i><p class="professores">Professores</p></a></li> <!--COLOCAR O LINK DO FONT AWESOME-->
            <li><a href="#"><i class='bx bx-info-circle'></i>Sobre</a></li>
            <li class="active"><a href="#"><i class='bx bx-user'></i>Perfil</a></li>
            <li><a href="#"><i class="bx bx-slider-alt"></i>Configurações</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <form action="/auth/logout" method="GET">
                    <button type="submit" class="logout"> <!-- botao de logout-->
                        <i class='bx bx-log-out'></i>Sair</button>
                </form>
            </li>
        </ul>
        <!-- Fim do Menu-->
    </div>
    <!-- Fim da Sidebar -->

    <!-- Main -->
    <div class="content">

        <!-- NAVBAR  -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Pesquisar..."> <!-- Barra de pesquisa-->
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden> <!-- Botão de mudar o tema-->
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="profile"> <!-- rota da page de perfil, danilo vai fazer a rota depois -->
                <img src="../public/Imagens/pug-fofo.jpg">
                <!-- puxar a imagem do perfil do usuário --> 
            </a>
        </nav>

        <!-- Fim da Navbar -->

        <main class="perfil">
            <!-- Imagem do usuario e informações ao redor -->
            <div class="bloco">
                <div class="esquerda">
                    <div class="cima-baixo-esquerda">
                        <h3>Nome</h3>
                    </div>
                    <div class="centro-esquerda">
                        <h3>idade</h3>
                    </div>
                    <div class="cima-baixo-esquerda">
                        <h3>escolaridade</h3>
                    </div>
                </div>
                <div class="centro">
                    {{!-- TESTE DO UPLOAD DE IMAGEM  --}}
                        <form action="">
                            <input class="input" id="sg" type="file" accept="image/*" name="postImg" required onchange="previewImage(event)">
                            <label class="select-img" for="sg">
                                <img class="preview-img" id="preview" src="" alt="" style="max-width: 300px; max-height: 600px;">
                            </label>
                        </form>
                    {{!-- FIM TESTE DO UPLOAD DE IMAGEM --}}
                    
                    
                </div>
                <div class="direita">
                    <div class="cima-baixo-direita">
                        <h3>prof ou aluno</h3>
                    </div>
                    <div class="centro-direita">
                        <h3>quanto tempo dentro do sistema</h3> <!-- danilo mandou esquecer -->
                    </div>
                    <div class="cima-baixo-direita">
                        <h3>quantas postagens marcou com visto</h3>
                    </div>
                </div>
            </div>
            <div class="bio">
                <form action="">
                    <input type="text" placeholder="Nome">
                    <input type="text" placeholder="RM">
                    <input type="text" placeholder="CPF">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                
            </div>

        </main>
    </div>
</body>
        