<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css"> <!-- arrumei o link, o ctrl click não levava pra lugar nenhum -->
    <link rel="stylesheet" href="/css/postagens.css"> <!-- css dessa page vai ser bem aproveitado da home, puxando as coisas do header, menu-->
    <title>Postagens | ConVes</title>
    
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">  
            <img src="/Imagens/barco-ConVes-preto.png" class="logo-conves" alt="logo ConVes" width="60px" id="conves">
            <div class="logo-name"><span>Con</span>Ves</div>
        </a>
        <ul class="side-menu">
            <!-- Inicio do Menu-->
            <li><a href="/home"><i class='bx bx-home' ></i>Home</a></li>
            <li class="active"><a href="#"><i class='bx bxs-dashboard'></i>Postagens</a></li> <!-- a class active é da pagina ativada, nesse caso a page de postagens-->
            <li><a href="#"><i class="fa-solid fa-chalkboard-user" id="professores"></i><p class="professores">Professores</p></a></li> <!-- colocar os href das proximas pages quando estiverem feitas-->
            <li><a href="#"><i class='bx bx-info-circle'></i>Sobre</a></li> <!-- próximas páginas a serem feitas serão a de professor e sobre a ConVes -->
            <li><a href="/home/perfil"><i class='bx bx-user'></i>Perfil</a></li>
            <li><a href="#"><i class="bx bx-slider-alt"></i>Configurações</a></li> <!-- procurar referencias e configurações para fazer parte da page de config  -->
        </ul>
        <ul class="side-menu">
            <li>
                <form action="/auth/logout" method="GET">
                    <button type="submit" class="logout"> <!-- botao de logout-->
                <i class='bx bx-log-out'></i>Sair</button>
                </form> 
            </li>
        </ul>
        <!-- Fim do Menu-->
    </div>
    <!-- Fim da Sidebar -->

    <!-- Main -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Pesquisar..."> <!-- Barra de pesquisa-->
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden> <!-- Botão de mudar o tema-->
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="/home/perfil" class="profile"> 
                <img src="{{perfil.img_fotoPerfil}}"> <!-- IMAGEM DO USUARIO --> 
            </a>
        </nav>

        <!-- Fim da Navbar -->

        <main> 
        <div class="header">
                <div class="left">
                    <h1>Postagens</h1>
                </div>
            </div>
    <div class="carousel">
        <ul class="insights">
            {{#each postagens}}
                <li class="posts">
                    <img src="{{img_capaPost}}" class="imagemPost" alt="Imagem da postagem"></img>
                    <span class="info">
                        <h3>
                            {{nm_tituloPostagem}}
                        </h3>
                        <p>{{tb_professorPerfil.nm_professor}}</p>
                    </span>
                </li>
                
                {{/each}}
        </ul>
    </div>

            <!-- criar uma espécie de filtro para as postagens --> 
            {{#isProfessor tipoUsuario}}
             <a href="/home/postagens/criar"><button type="submit" class="adicionarPostagem" id="adicionarPostagem" name="adicionarPostagem">
                <i class="fa-solid fa-plus"></i> <!-- simbolo de + que vai ficar dentro do botao de adicionar postagem -->
            </button></a> 
            {{/isProfessor}}
        </main>

    </div>
 
    <script src="/js/home.js"></script>
</body>

</html>