<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=""> <!-- criar css dessa page depois -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Postagens | ConVes</title>
</head>
<body>
    <!-- page duplicada da page postagens.hbs, unica diferença é o botao de criar postagem-->
    <!-- botao adicionar postagem -->
    <button type="submit" class="adicionarPostagem" id="adicionarPostagem" name="adicionarPostagem">
        <i class="fa-solid fa-plus"></i> <!-- simbolo de + que vai ficar dentro do botao de adicionar postagem -->
    </button>
</body>
</html>